{% extends "base.html" %}
{% block content %}
    <form action='/' method='post'>
        <h1>Sign Up Page</h1>
        <hr>
        <br>
        <p>* fields are mandatory</p>
        <br>
        <label>Username: *
            <input name="username" type="text" value='{{username}}'/>
        </label> 
            <p class="error">{{username_error}}</p>
        <label>Password: *
            <input name="password" type="password"  value='{{password}}'/>
        </label>
            <p class="error">{{password_error}}</p>       
        <label>Confirm Password: *
                <input name="val_password" type="password" value='{{val_password}}'/>
        </label>
            <p class="error">{{validate_error}}</p>
        <label>Email:
                <input name="email" type="text" value='{{email}}' />
        </label> 
            <p class="error">{{email_error}}</p>
        <input type = "submit" />
        <br>

    </form>
    
{% endblock %}
