{% extends "base.html" %}
{% block content %}
    <form action='/hello' method='post'>
        <h1>Signup Page</h1>
        <hr>
        <label for='username' >Username:
            <input id='username' name="username" type="text" />
        </label> 
        <br><br>
        <label>Password:
            <input name="password" type="password" />
        </label>
        <br><br>      
        <label>Validate Password:
                <input name="validate_password" type="password" />
        </label>
        <br><br>
        <label>Email:
                <input name="email" type="text" />
        </label> 
        <br><br>
        <input type = "submit" />
        <br>

    </form>
{% endblock %}
